@font-face {
  font-family: "Space grotesk";
  src: url("/assets/fonts/SpaceGrotesk-Regular.ttf");
  font-size: 400;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/SpaceGrotesk-Medium.ttf");
  font-size: 500;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-famili: "Space Grotesk";
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 124rem;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}
@media all and (max-width: 1200px) {
  .header {
    padding: 0 2rem;
  }
}

.logo {
  width: 100%;
  max-width: 22rem;
}
@media all and (max-width: 1200px) {
  .logo {
    max-width: 14.4rem;
  }
}
.logo_header {
  position: relative;
  z-index: 2;
}
.logo_footer {
  max-width: 18rem;
}

.nav {
  display: flex;
  font-size: 2rem;
  gap: 4rem;
  align-items: center;
  margin-left: auto;
}
@media all and (max-width: 1200px) {
  .nav {
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    background-color: white;
    row-gap: 4rem;
    padding: 10rem 6rem 4rem;
    height: 100vh;
    width: 100%;
    max-width: 30rem;
    z-index: 1;
    transform: translatex(100%);
    transition: all 0.3s ease;
  }
}
@media all and (max-width: 500px) {
  .nav {
    max-width: 100%;
  }
}
.nav_active {
  transform: translatex(0);
  transition: all 0.3s ease-in;
}
.nav__link {
  text-decoration: none;
  color: black;
  flex-shrink: 0;
}

.btn {
  border-radius: 1.4rem;
  padding: 2rem 3.5rem;
  font-size: 2rem;
  color: #191a23;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline-width: 0;
}
@media all and (max-width: 1200px) {
  .btn {
    width: 100%;
  }
}
@media (hover: hover) {
  .btn {
    transition: all 0.3s ease-out;
  }
  .btn:hover, .btn:active {
    transition: all 0.3s ease-in;
  }
}
.btn_primary {
  color: #ffffff;
  background-color: #191a23;
}
@media (hover: hover) {
  .btn_primary:hover, .btn_primary:active {
    color: #000000;
    background-color: #b9ff66;
  }
}
.btn_secondary {
  background-color: #b9ff66;
}
@media (hover: hover) {
  .btn_secondary:hover, .btn_secondary:active {
    color: #ffffff;
    background-color: #191a23;
  }
}
.btn_outline {
  border: 1px solid #191a23;
}
@media (hover: hover) {
  .btn_outline:hover, .btn_outline:active {
    color: #ffffff;
    background-color: #191a23;
  }
}
.btn_header {
  margin-left: 4rem;
}
@media all and (max-width: 1200px) {
  .btn_header {
    display: none;
  }
}

.menu {
  width: 2.4rem;
  display: none;
  margin-left: auto;
  z-index: 2;
}
@media all and (max-width: 1200px) {
  .menu {
    display: block;
  }
}

.icon_plus, .icon_minus {
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 50%;
  border: 1px solid #191a23;
  background-color: #f3f3f3;
  position: relative;
}
@media all and (max-width: 1200px) {
  .icon_plus, .icon_minus {
    width: 3rem;
    height: 3rem;
  }
}
.icon_plus::before, .icon_minus::before {
  content: "";
  display: block;
  width: 1.8rem;
  height: 0.6rem;
  background-color: #191a23;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media all and (max-width: 1200px) {
  .icon_plus::before, .icon_minus::before {
    width: 1.3rem;
    height: 0.3rem;
  }
}
.icon_plus::after {
  content: "";
  display: block;
  width: 0.6rem;
  height: 1.8rem;
  background-color: #191a23;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media all and (max-width: 1200px) {
  .icon_plus::after {
    width: 0.3rem;
    height: 1.3rem;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
  column-gap: 1.5rem;
}
.link__decor {
  background-color: #191a23;
}
.link__decor_green {
  background-color: #b9ff66;
}
.link__decor_white {
  background-color: #ffffff;
}
.link__icon {
  width: 2rem;
  height: 2rem;
  fill: #191a23;
}
.link_round .link__decor {
  width: 4.1rem;
  height: 4.1rem;
  border-radius: 50%;
  position: relative;
}
.link_round .link__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.link_color_white {
  color: #ffffff;
}
.link_color_green {
  color: #b9ff66;
}
.link_icon_white .link__icon {
  fill: #ffffff;
}
.link_icon_green .link__icon {
  fill: #b9ff66;
}

/*# sourceMappingURL=styles.css.map */
