.heading {
  apan {
    display: inline-block;
    border-radius: 0.7rem;
  }

  &_bg {
    &_white {
      span {
        background-color: $color-white;
        font-family: "Space Grotesk";
        white-space: nowrap;
        padding: 0 0.75rem;
        border-radius: 0.8rem;
      }
    }

    &_green {
      @media all and (max-width: $media-m) {
        padding: 0 3rem;
      }

      span {
        background-color: $color-green;
        font-family: "Space Grotesk";
        white-space: nowrap;
        padding: 0 0.75rem;
        border-radius: 0.8rem;

        max-width: 5rem;

        @media all and (max-width: $media-m) {
          white-space: normal;
        }
      }
    }

    &_black {
      span {
        background-color: $color-black;
        color: $color-white;
      }
    }
  }
}
