.card {
  &__img {
    grid-area: img;
    padding-left: 4rem;
    padding-top: 1rem;

    @media all and (max-width: $media-s) {
      max-width: 17rem;
      max-height: 13.5rem;
      padding-top: 0.2rem;
    }
  }

  &_heading {
    grid-area: title;
    max-width: 60%;
    &_white {
      span {
        background-color: $color-white;
        font-family: "Space Grotesk";
        white-space: nowrap;
        padding: 0 0.75rem;
        border-radius: 0.8rem;
      }
    }

    &_green {
      span {
        background-color: $color-green;
        font-family: "Space Grotesk";
        white-space: nowrap;
        padding: 0 0.75rem;
        border-radius: 0.8rem;
        max-width: 5rem;
      }
    }

    &_black {
      span {
        background-color: $color-black;
        color: $color-white;
      }
    }
  }

  &_service {
    border-radius: $radius-card;
    border: 1px solid $color-dark;
    box-shadow: 0 5px 0 0 $color-dark;
    padding: 4.9rem;
    width: 100%;
    max-width: 60rem;
    height: 31rem;
    background-color: $color-grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "title img" "link img";

    @media all and (max-width: $media-m) {
      grid-template-areas: "title title" "link img";
      grid-template-rows: auto;
      row-gap: 2.2rem;
      min-height: 32.3rem;
    }

    .link {
      grid-area: link;
      margin-top: auto;

      @media all and (max-width: $media-m) {
      }

      &__text {
        @media all and (max-width: $media-m) {
          display: none;
        }
      }
    }
  }

  &_bg {
    &_dark {
      background-color: $color-dark;
    }
    &_green {
      background-color: $color-green;
    }
  }

  &_proposal {
    display: block;
    display: grid;
    grid-template-columns: 50rem;
    justify-items: flex-start;
    width: 100%;
    padding: 6rem;
    position: relative;
    background-color: $color-grey;
    border-radius: $radius-card;
    row-gap: 2.6rem;

    @media all and (max-width: $media-m) {
      grid-template-columns: 1fr;
      line-height: 1.4;
      padding: 4.7rem 4.8rem 5rem 5.1rem;
      row-gap: 2rem;
      max-height: 37rem;
    }

    &_full {
      @media all and (max-width: $media-m) {
        display: none;
      }
    }

    &_min {
      display: none;

      @media all and (max-width: $media-m) {
        width: 100%;
        display: block;
      }
    }

    img {
      position: absolute;
      top: 50%;
      right: 13.5rem;
      transform: translateY(-50%);

      @media all and (max-width: $media-m) {
        display: none;
      }
    }
  }
}
