.contact {
  &_container {
    display: grid;
    grid-template-columns: 60% 1fr;
    width: 100%;
    background-color: $color-grey;
    border-radius: 4rem;

    @media all and (max-width: $media-m) {
      grid-template-columns: 1fr;
      margin: 2rem 0;
    }
  }

  &_options-block {
    display: flex;
    gap: 3.4rem;

    @media all and (max-width: $media-m) {
      justify-content: center;
      padding-right: 2rem;
      padding-bottom: 1rem;
      gap: 3rem;
    }
  }

  &_options-varian {
    display: flex;
    width: auto;
    gap: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
    align-items: center;

    @media all and (max-width: $media-m) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &_options-input {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    margin-left: 0;
    border-radius: 50%;
    position: relative;
  }

  &_options-input:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background-color: $color-green;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &_block-feedback {
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    padding: 5.5rem 10rem 8rem 10rem;
    min-width: 75.6rem;
    justify-content: center;

    @media all and (max-width: $media-m) {
      position: relative;
      min-width: auto;
      padding: 3.5rem 3rem 5rem 3rem;
      gap: 1.9rem;
    }
  }

  &_form_header {
    padding-bottom: 0.9rem;
    font-size: 1.6rem;
  }

  &_form-name {
    width: 100%;

    &_input {
      width: 100%;
      padding: 1.8rem 2.9rem;
      border-radius: 1.5rem;
      font-family: "Space Grotesk";
      font-weight: 400;
      font-size: 1.8rem;
      border: 1px solid black;

      @media all and (max-width: $media-m) {
        padding: 1.9rem 2rem;
        font-size: 1.5rem;
      }
    }
  }

  &_form-email {
    width: 100%;

    &_input {
      width: 100%;
      padding: 1.8rem 2.9rem;
      border-radius: 1.5rem;
      font-family: "Space Grotesk";
      font-weight: 400;
      font-size: 1.8rem;
      border: 1px solid black;

      @media all and (max-width: $media-m) {
        padding: 1.9rem 2rem;
        font-size: 1.5rem;
      }
    }
  }
  &_form-message {
    width: 100%;
    font-family: "Space Grotesk";
    font-weight: 400;

    &_input {
      width: 100%;
      min-height: 19rem;
      padding: 1.8rem 2.9rem;
      border-radius: 1.5rem;
      font-family: "Space Grotesk";
      font-size: 1.8rem;
      border: 1px solid black;

      @media all and (max-width: $media-m) {
        padding-left: 2rem;
        font-size: 1.5rem;
        min-height: 13rem;
      }
    }
  }

  &_form-btn {
    padding-top: 1rem;

    @media all and (max-width: $media-m) {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -9.5rem;
    }
  }

  &_block-illustration {
    position: relative;
    width: 100%;
    left: 0px;
    height: auto;
    padding: 5rem;
    overflow: hidden;

    @media all and (max-width: $media-m) {
      display: none;
    }
  }

  &_illustration {
    position: absolute;
    top: 6.2rem;
    left: 12.5rem;
    height: 65.7rem;
  }
}
