.contact {
  &_container {
    display: grid;
    grid-template-columns: 60% 1fr;
    width: 100%;
    background-color: $color-grey;
    border-radius: 4rem;

    @media all and (max-width: $media-m) {
      grid-template-columns: 1fr;
    }
  }

  &_options-block {
    display: flex;
    gap: 3rem;
    padding-bottom: 2rem;

    @media all and (max-width: $media-m) {
      justify-content: center;
    }
  }

  &_options-varian {
    display: flex;
    width: 100%;
    gap: 1rem;
    text-align: center;
    align-items: center;

    @media all and (max-width: $media-m) {
      display: flex;
      justify-content: center;
    }
  }

  &_options-input {
    appearance: none;
    width: 28px;
    height: 28px;
    border: 1px solid #000000;
    border-radius: 50%;
    position: relative;
  }

  &_options-input:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background-color: $color-green;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &_block-feedback {
    padding: 6rem 10rem 8rem 10rem;
    min-width: 75.6rem;
    max-height: 77.3rem;

    @media all and (max-width: $media-m) {
      min-width: auto;
      padding: 4rem;
    }
  }

  &_form_header {
    padding: 3rem 0 1rem 0;
    font-size: 1.6rem;
  }

  &_form-name {
    width: 100%;

    &_input {
      width: 100%;
      padding: 2.1rem;
      border-radius: 1rem;
      border: 1px solid black;
    }
  }

  &_form-email {
    width: 100%;

    &_input {
      width: 100%;
      padding: 2rem;
      border-radius: 1rem;
      border: 1px solid black;
    }
  }
  &_form-message {
    width: 100%;

    &_input {
      width: 100%;
      min-height: 19rem;
      padding: 2rem;
      border-radius: 1rem;
      font-family: "Space Grotesk";
      border: 1px solid black;
    }
  }

  &_form-btn {
    padding-top: 5rem;
  }

  &_block-illustration {
    position: relative;
    width: 100%;
    left: 0px;
    height: auto;
    padding: 5rem;
    overflow: hidden;

    @media all and (max-width: $media-m) {
      display: none;
    }
  }

  &_illustration {
    position: absolute;
    height: 64.8rem;
    top: 5rem;
    left: 13rem;
    height: 64.8rem;
  }
}
