.team {
  &_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    width: 100%;

    @media all and (max-width: $media-m) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media all and (max-width: $media-s) {
      grid-template-columns: 1fr;
    }
  }

  &_card {
    display: flex;
    flex-direction: column;
    max-width: 38.7rem;
    min-height: 33.1rem;
    padding: 3.9rem 3.4rem;
    gap: 2.7rem;
    border: 1px solid $color-dark;
    border-radius: 4.5rem;
    box-shadow: $color-black 0 0.5rem 0 0;

    @media all and (max-width: $media-m) {
      padding: 4rem;
      min-width: 30rem;
    }

    &_header {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid $color-black;
      padding-bottom: 2.4rem;

      @media all and (max-width: $media-m) {
        min-width: 100%;
      }

      &_img {
        margin-left: -1rem;
      }
    }

    &_biography {
      align-items: center;
    }

    &_hidden:nth-child(n + 7) {
      display: none;
    }

    &_hidden:nth-child(n + 5) {
      @media all and (max-width: $media-m) {
        display: none;
      }
    }
  }

  &__profile-card {
    width: 100%;
    align-self: flex-end;
    overflow: visible;
    padding-bottom: 0.3rem;
    margin-right: -5rem;
  }

  &__name {
    font-size: 2rem;
    font-weight: 600;
  }

  &_image {
  }

  &_position {
    width: 19.5rem;
    font-weight: 100;
  }

  &_wrapper_btn {
    padding-top: 4.7rem;
    text-align: end;
  }
}
