.testimonials {
  &_container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    border-radius: 4rem;
  }

  &_top-block {
    display: flex;
    width: 100%;
    background-color: $color-dark;
    overflow: hidden;
  }

  &_lower-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-dark;
    padding: 6.5rem;

    @media all and (max-width: $media-m) {
      justify-content: space-between;
    }
  }

  &_card {
    padding: 8rem 4rem 0rem 4rem;

    @media all and (max-width: $media-m) {
      width: 100px;
    }
  }

  &_content {
    position: relative;
    min-width: 60.6rem;
    border: 1px solid $color-green;
    padding: 3.89rem;
    border-radius: 4rem;

    @media all and (max-width: $media-m) {
      min-width: auto;
    }
  }

  &_content::after {
    content: "";
    display: block;
    position: absolute;
    width: 4rem;
    height: 4rem;
    bottom: -2.1rem;
    left: 8rem;
    background-color: $color-dark;
    border-left: 1px solid $color-green;
    border-bottom: 1px solid $color-green;
    transform: rotate(-45deg);
    border-radius: 3px;
  }

  &_text {
    color: $color-white;
    text-align: center;
    padding: 10px 12px;
  }
  &_author {
    padding: 5.2rem 9rem 0 9rem;
  }
}
