.working{ 
  &_container {
    display: grid;   
    gap: 2rem;
    width: 100%;
    padding: 0;    
  }
  
  &_block {    
    display: grid;   
    grid-template-columns: 5rem 1fr;
    align-items: center; 
    border: 1px solid $color-dark;
    border-radius: 5rem;
    counter-increment: item;
    box-shadow:  $color-black 0px 3px 0px 0px; 
    cursor: pointer;      

    @media all and (max-width: $media-m) {
      border-top: none;               
    }    
  }

  &_header {
      display: flex;      
      justify-content: space-between;
      padding: 5rem;
      font-size: $size-h3; 
      align-items: center;

      @media all and (max-width: $media-m) {
      font-size: $size-p-mob; 
      padding:  3rem;     
      }
   }
       
  &_content {
    grid-column: 1 / -1;     
    max-height: 0; 
    overflow: hidden;
    font-size: $size-p;    
    padding: 0;
    margin: 0 4rem 0 4rem;     
    transition: max-height 0.3s ease, padding 0.3s ease;
   
    &_open {
      max-height: 20rem; 
      padding: 3rem 0 4rem 0; 
      border-top: 1px solid $color-dark;    
      }
    }  

  &_container li::before{      
    content: counter(item, decimal-leading-zero) " ";
    padding: 0 4rem;
    color: $color-dark;    
    font-weight: bold;
    font-size: 4rem;           

    @media all and (max-width: $media-m) {
      font-size: $size-h3-mob; 
      font-weight: 600;
      padding: 0 2.5rem;   
    }
  }

  &_bg {
    &_dark {
      background-color: $color-white;
    }
    &_green {
      background-color: $color-green;
    }
   }
}