.working {
  &_container {
    display: grid;
    gap: 3.2rem;
    width: 100%;
    max-width: 123.6rem;
    padding: 0 0 0 0.2rem;
    margin: 0;

    @media all and (max-width: $media-m) {
      margin-top: 1rem;
      gap: 2rem;
    }
  }

  &_block {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
    border: 1px solid $color-dark;
    overflow: hidden;
    border-radius: 4.5rem;
    counter-increment: item;
    box-shadow: $color-black 0px 5px 0px 0px;
    padding: 1rem 0 1.1rem 0;
    cursor: pointer;

    @media all and (max-width: $media-m) {
      border-top: none;
      min-height: 10rem;
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;
    padding: 4rem 5.6rem 3.6rem 0;
    font-size: $size-h3;
    overflow: hidden;
    align-items: center;

    @media all and (max-width: $media-m) {
      padding: 0rem;
    }
  }

  &_header h3 {
    @media all and (max-width: $media-m) {
      width: 80%;
      padding-left: 0.5rem;
      font-size: 1.8rem;
    }
  }

  &_content {
    grid-column: 1 / -1;
    font-size: $size-p;
    transition: max-height 0.3s ease, padding 0.3s ease;
    display: none;

    &_open {
      max-height: 20rem;
      padding: 3rem 0 4.4rem 0;
      border-top: 1px solid $color-dark;
      margin: 0 5.9rem;
      display: block;
    }
  }

  &_container li {
    grid-template-columns: auto 1fr;
    position: relative;
  }

  &_container li::before {
    content: counter(item, decimal-leading-zero) " ";
    padding: 0 2.5rem 0 6rem;
    color: $color-dark;
    font-weight: 500;
    font-size: 6rem;

    @media all and (max-width: $media-m) {
      font-size: 3rem;
      font-weight: 600;
      padding: 0 2.8rem;
    }
  }

  &_bg {
    &_dark {
      background-color: $color-grey;
    }
    &_green {
      background-color: $color-green;
    }
  }
}
