@font-face {
  font-family: "Space grotesk";
  src: url("/assets/fonts/SpaceGrotesk-Regular.ttf");
  font-size: 400;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/SpaceGrotesk-Medium.ttf");
  font-size: 500;
}