.menu {
  display: none;
  margin-left: auto;

  z-index: 2;

  @media all and (max-width: $media-m) {
    display: block;
  }

  &__icon {
    width: 3.2rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}
