.slick-dots {
  content: url('/assets/icons/vector.svg#vector'); 
  width: 30px;  
  bottom: 8%; 
  color: #60c564;
}
.slick-next{ 
  top: 90%; 
  left: 80%;
  color: #c11d1d;
  
}

.slick-next:before {
  color: #c11d1d;
  content: url('/assets/icons/arrowright.svg#pointer');  
  
}

.slick-prev { 
  color: #c11d1d;
  transform: scale(-1);
  top: 88%; 
  left: 20%;  
}

.slick-prev:before {
  content: url('/assets/icons/arrowright.svg#pointer"');
  color: #c11d1d;
}


