.slick-prev {
  position: static;
  margin: 0 14rem 0 0;
  width: 2.4rem;
  transform: scale(-1);

  @media all and (max-width: $media-m) {
    margin: 0rem 0 0 2.7rem;
  }
}

.slick-next {
  position: static;
  margin: 1.2rem 0 0 15rem;
  width: 2.7rem;

  @media all and (max-width: $media-m) {
    margin: 1.5rem 2.3rem 0 0;
  }
}

.slick-list {
  height: auto;
}

.slick-arrow:before {
  display: none;
}

.dots-container {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;

  @media all and (max-width: $media-m) {
    width: 100%;
  }
}

.slick-dots {
  position: static;
  width: 100%;
  padding: 10px 10px 10px 25px;
  margin: 10px;
  color: $color-white;
  white-space: nowrap;
}

.slick-dots li {
  width: 1.4rem;
  margin: 1rem;
}

.slick-active {
  color: $color-green;
}

.slick-dotted {
  margin-bottom: 0 !important;
}

.dot-icon {
  width: 16px;
  padding: 1px;
}
